<div class="nested-fields d-inline">
  <div class="float-left">
    <%= f.label t ".answer" %>
    <span class="text-danger"> * </span>
    <%= f.radio_button(:is_correct, :true_answer) %>
    <span><%= t ".if_true" %></span>
  </div>
  <div class="float-right">
    <%= f.check_box :_destroy %>
    <%= f.label t ".delete" %>
  </div>
  <%= f.text_area :content, class: "form-control" %>
  <br>
</div>
