<div class="content">
  <div class="row function-name">
    <div class="col-md-10 offset-md-1 col-12 pt-3 pb-3">
      <div class="float-left">
        <p class="function-text"><%= t ".title" %></p>
      </div>
      <% if @current_user&.admin? %>
        <div class="float-right">
          <%= link_to t(".btn_create_subject"), new_admin_subject_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/ransack_search" %>
<div class="row mt-2">
  <div class="col-md-10 offset-md-1">
    <ul class="list-group mb-2">
      <%= render @subjects %>
    </ul>
    <%== pagy_bootstrap_nav @pagy %>
  </div>
</div>
</div>
