<div class="content">
  <div class="row function-name">
    <div class="col-md-10 offset-md-1 col-12 pt-3 pb-3 d-inline">
      <div class="float-left">
        <h2><%= t ".title", name: @subject.name %></h2>
        <h4 class="text-muted"><%= t ".content", content: @subject.content %></h4>
      </div>
      <% if @current_user&.admin? %>
        <div class="float-right pl-3">
          <%= link_to t(".btn_import_question"), import_admin_subject_questions_path(@subject.id), class: "btn btn-primary" %>
        </div>
        <div class="float-right">
          <%= link_to t(".btn_create_question"), new_admin_subject_question_path(@subject), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @current_user&.admin? %>
    <div class="row mt-2">
      <div class="col-md-10 offset-md-1">
        <ul class="list-group mb-2">
          <% @questions.each do |i| %>
            <li class="list-group-item">
              <div class="float-left">
                <%= link_to i.content, edit_admin_subject_question_path(i.subject_id, i.id) %>
              </div>
              <div class="float-right">
                <%= link_to admin_subject_question_path(@subject.id, i.id), method: :delete,
                                   data: {confirm: t(".confirm_delete")} do %>
                  <i class="fa-solid fa-trash text-danger"></i>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <%== pagy_bootstrap_nav @pagy %>
      </div>
    </div>
  <% end %>
</div>
