<div class="content">
  <div class="row function-name">
    <div class="col-md-10 offset-md-1 col-12 pt-3 pb-3">
      <p class="function-text"><%= t ".title" %></p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-10 offset-md-1">
      <%= form_for @user, url:   user_session_path do |f| %>
        <%= f.label :email, t(".email") %>
        <%= f.email_field :email, class: "form-control" %>
        <%= f.label :password, t(".password") %>
        <%= f.password_field :password, class: "form-control" %>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="row">
          <div class="col text-center">
            <%= f.submit t(".login"), class: "btn btn-login" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
