<% content_for :javascript_includes do %>
  <%= javascript_pack_tag "timer" %>
<% end %>
<div class="row pb-5">
  <div class="col-md-10 offset-md-1 col-12 card-q">
    <div class="row function-name mt-2">
      <div class="col-md-10 offset-md-1 col-12 pt-3 pb-3" style="color:black">
        <p class="function-menu"> <%= t"layouts.header.home" %> / <%= t"layouts.header.subject" %></p>
        <p class="function-text"><%= t".take_exam" %></p>
      </div>
    </div>
    <div class = "row">
      <div class="col-12 mb-3 mt-3">
        <h1 class="course-name text-center"><%= @subject.name %></h1>
      </div>
    </div>
    <%= form_for @exam do |form| %>
       <%= form.hidden_field :user_id %>
       <%= form.hidden_field :subject_id %>
    <div class = "row">
      <div class = "col-md-10">
        <% @questions.each_with_index do |question,index| %>
          <%= render "question", question: question, index: index, form: form %>
        <% end%>
      </div>
      <div class = "col-md-2">
      <div class = "d-flex justify-content-center align-middle timer"><span class = "mt-5 mb-5" id = "time">20:00</span></div>
      </div>
    </div>
<div class = "row">
  <div class = "col-md-10 offset-md-1 text-center">
    <%= form.submit t(".submit_exam"), data: { confirm: t(".confirm_submit") }, class: "btn btn-login" %>
    <% end %>
  </div>
</div>
</div>
