<footer>
  <div class="contact row mt-5 pt-5">
    <div class="col-md-5 offset-md-1 col-12">
      <h3> <%= t ".contact_us" %> </h3>
      <p> <%= t ".info" %> </p>
    </div>
    <div class="col-md-5 col-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="example@example.example"
          aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"> <%= t ".subcribe" %> </button>
      </div>
    </div>
  </div>
  <div class="info row pt-3">
    <div class="col-md-3 col-12 offset-md-1">
      <p class = "footer_menu"> <%= t ".about_us" %> </p>
      <p> <%= t ".about_us_text" %> </p>
    </div>
    <div class="col-md-2 col-6">
      <p class = "footer_menu">Menu</p>
      <ul>
        <li><%= t "layouts.header.home" %></li>
        <li><%= t "layouts.header.about" %></li>
        <li><%= t "layouts.header.contact" %></li>
        <li><%= t "layouts.header.help" %></li>
        <li><%= t "layouts.header.subject" %></li>
      </ul>
    </div>
    <div class="col-md-2 col-6">
      <p class = "footer_menu"><%= t ".community" %></p>
      <ul>
        <li>Danang Team</li>
        <li>Foo foo</li>
        <li>Bar baz</li>
        <li>Stack Overflow</li>
        <li>For bazz</li>
      </ul>
    </div>
    <div class="col-md-3 col-12">
      <p class = "footer_menu">Liên hệ</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore beatae illum minima! Temporibus
        commodi, harum consectetur provident eos laboriosam. Totam atque aperiam provident obcaecati culpa
        praesentium commodi blanditiis sunt laboriosam!
      <ul>
        <li class="ft-lst"><i class="fab fa-facebook-square fab2"></i></li>
        <li class="ft-lst"><i class="fab fa-linkedin fab2"></i></li>
        <li class="ft-lst"><i class="fab fa-twitter-square fab2"></i></li>
        <li class="ft-lst"><i class="fab fa-instagram-square fab2"></i></li>
      </ul>
    </div>
  </div>
</footer>
